 <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
          {% block titlemodal %} <h5 class="modal-title" id="exampleModalLabel"> <b>Estudios Realizados</b> </h5>{% endblock %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
          {% block modalcuerpo%}
        <form action="{% url 'admision:EstudiosRealizados' persona.ci %}" method="POST">
          <div style="border-radius: 25px; border: 1px solid #05548C; margin: 1em 1em 0 1em; ">
           <div class="modal-body">

               <b>Registrar Estudios: </b>
               <br>
               <br>
             {% csrf_token %}
               <input type="hidden" name="ci" class="form-control" required="" value="{{persona.ci}}" id="id_ci">
             <div class="row">
                 <div class="col-md-6 pr-1">
                    <div class="form-group">
                    <label>Tipo Estudio:</label>
                    {{form.tipo_est}}
                    </div>
                 </div>
                <div class="col-md-6 pl-1">
                    <div class="form-group">
                        <label>Institucion:</label>
                        {{form.institucion}}
                    </div>
                </div>
             </div>

             <div class="row">
                <div class="col-md-3 pr-1">
                    <div class="form-group">
                    <label>Fecha Inicio: </label>
                    {{form.fecha_ini}}
                    </div>
                </div>
                <div class="col-md-4 px-1">
                    <div class="form-group">
                    <label>Fecha de Fin: </label>
                    {{form.fecha_fin}}
                    </div>
                </div>
                <div class="col-md-5 pl-1">
                    <div class="form-group">
                    <label>Graduación</label>
                    {{form.graduacion}}
                    </div>
                </div>
             </div>
             <button id="#eliminarP" class="btn btn-primary" type="submit">Guardar</button>
             <a class="btn btn-default" href="{% url 'admision:ListarEstudiante' 1 %}">Cancelar</a>
           </div>
               </div>
        </form>
      <div class="modal-body">
               <b>Tus Estudios: </b>
           <br>
          <br>
          <table class="table table-bordered">
                 <thead style="color:Black; font-weight: bolder;">
                    <tr>
                        <td>Estudios</td>
                        <td>Institucion</td>
                        <td>Fecha Inicio</td>
                        <td>Fecha Fin</td>
                        <td>Graduacion</td>
                        <td>Acciones</td>
                    </tr>
                 </thead>
                <tbody>
                    {% if Estudios %}
                        {% for doc in Estudios %}
                          <tr>
                            <td>{{ doc.tipo_est }}</td>
                            <td>{{ doc.institucion }}</td>
                            <td>{{ doc.fecha_ini }}</td>
                            <td>{{ doc.fecha_fin }}</td>
                            <td>{{ doc.graduacion }}</td>
                            <td>
                                <a class="btn btn-danger" onclick="" title="Eliminar" ><i class="fas fa-trash-alt"></i> </a>
                            </td>
                          </tr>
                        {% endfor %}
                    {% else %}
                        <h1>No hay registos para mostrar</h1>
                    {% endif %}
                </tbody>
            </table>
           </div>
          {% endblock %}
      </div>
</div>