{% extends "matriculas/matriculas.html" %}

{% block title %}
FUCIDI-MATRICULAS
{% endblock %}

{%block cantidad%}
    <p class="card-category"></p>
    <a href="">
    <i class="fas fa-plus-square" style="font-size: 48px;"></i>
    </a>
{% endblock %}
{% block opcion2 %}
    <p class="card-category">Admisiones Activas</p>
    <p class="card-title">{{ActivosD}}<p>
{% endblock %}

{% block opcion3 %}
    <p class="card-category">Admisiones Inactivas</p>
    <p class="card-title">{{InactivosD}}<p>
{% endblock %}


{% block il5 %} class="active" {% endblock %}
{%block titulofuncional %} <a><b> {{Titulo}} </b></a> {% endblock%}

{% block trabajo %}
<div class="table-responsive">
<table class="table table-hover table-bordered" id="datatable">
    <thead class="centrado-negrita">
    <tr>
        <td>N.</td>
        <td width="4">Código Admision</td>
        <td>Nombres y Apellidos</td>
        <td>Fecha Admision</td>
        <td>Programa de Estudio</td>
        <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
        {% if admisiones %}
        {% for adm in admisiones %}
        <tr>
            <td style="text-align:center;">{{forloop.counter}}</td>
            <td>{{ adm.codigoAdmision }}</td>
            <td>{{ adm.ci.nombre}} {{ adm.ci.apellido}}</td>
            <td>{{ adm.fecha }}</td>
            <td>{{ adm.Programa.nombre_programa }}</td>
            <td style="text-align:center;">
                <a class="btn btn btn-success" title="Generar Matricula" onclick="abrirmodaleliminar('{% url 'matricula:Matricula' adm.id %}'); " ><i class="fas fa-plus-square"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registos para mostrar</h1>
        {% endif %}
    </tbody>
</table>
</div>
{% endblock %}