{% extends "usuarios/base_panel.html" %}
{%block cantidad%}
    <p class="card-category">Programas</p>
    <a  class="btn btn-primary btn-sm" href="{% url 'academia:Nuevo' %}">Nuevo </a>
{% endblock %}
{% block opcion2 %}
    <p class="card-category">Programas Vigentes</p>
    <p class="card-title">{{pvigentes}}<p>
{% endblock %}

{% block opcion3 %}
    <p class="card-category">Programas N. Vigentes</p>
    <p class="card-title">{{nvigentes}}<p>
{% endblock %}

{% block path%} &nbsp; &nbsp; &nbsp; Módulo Academia  / Gestión Programas Estudios {% endblock %}
{% block il6 %} class="active" {% endblock %}
{% block il %} class="active" {% endblock %} <!-- clase para saber en que menuestas -->
{%block titulofuncional %} <b> Programas Académicos </b>  &nbsp; &nbsp; &nbsp;
<a class="btn btn-success btn-sm" href="{% url 'academia:Nuevo' %}"><i class="fas fa-plus-square"> </i> Agregar </a>
{% endblock%}

{% block trabajo %}

<table class="table table-hover table-bordered" id="datatable">
    <thead class="centrado-negrita">
    <tr>
        <td>#</td>
        <td>Codigo Programa</td>
        <td>Nombre Programa</td>
        <td>Duracion</td>
        <td>Modalidad</td>
        <td>Valor Matricula</td>
        <td>Valor Colegiatura</td>
        <td>Acciones</td>
    </tr>
    </thead>

    <tbody>
        {% if programas %}
        {% for program in programas %}
        <tr>
            <td>{{ program.id }}</td>
            <td>{{ program.cod_programa }}</td>
            <td>{{ program.nombre_programa }}</td>
            <td>{{ program.duracion }}</td>
            <td>{{ program.tipo_programa }}</td>
            <td>{{ program.precio_matricula }}</td>
            <td>{{ program.precio_pension }}</td>
            <td >
                <a CLASS="btn btn-primary" href="{% url 'academia:Editar' program.id  %}"><i class="fas fa-edit"></i> </a>
               <!-- <a CLASS="btn btn-primary" href="{% url 'academia:Editar' program.id  %}">Editar</a>-->
                <a class="btn btn-danger" onclick="abrirmodaleliminar('{% url 'academia:Eliminar' program.id  %}'); "><i class="fas fa-trash-alt"></i> </a>
                <!--<button class="btn btn-danger" type="button" data-toggle="modal" onclick="abrirmodaleliminar('{% url 'academia:Eliminar' program.id  %}'); "> Eliminar</button> -->
                <a class="btn btn btn-success" href=""><i class="icon-big nc-icon nc-single-copy-04"></i></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registos para mostrar</h1>
        {% endif %}
    </tbody>
</table>

{% endblock %}
