{% extends "admision/estudiantes/estudiante.html" %}
{%block cantidad%}
    <p class="card-category">Estudiantes</p>
    <a href="{% url 'admision:NuevaAdmisionesEstudiante' estu.ci %}">
        <i class="fas fa-plus-square" style="font-size: 48px;"></i>
    </a>
{% endblock %}
{% block opcion2 %}
    <p class="card-category">Admisiones Activas</p>
    <p class="card-title">{{ActivosD}}<p>
{% endblock %}
{% block opcion3 %}
    <p class="card-category">Admisiones Inactivas</p>
    <p class="card-title">{{InactivosD}}</p>
{% endblock %}
{% block dir %} href="{% url 'admision:ListarEstudiante' 1 %}"{% endblock %}
{% block path%} &nbsp; &nbsp; &nbsp; Módulo Admisión/ Admisiones/ {{estu.nombre}} {{estu.apellido}}  {% endblock %}
{% block il4 %} class="active" {% endblock %} <!-- clase para saber en que menuestas -->
{%block titulofuncional %} <a><b> {{Titulo}}: </b> {{estu.nombre}} {{estu.apellido}} </a>
     &nbsp;&nbsp;
    <a class="btn btn-success btn-sm" href="{% url 'admision:NuevaAdmisionesEstudiante' estu.ci %}"><i class="fas fa-plus-square"> </i> Agregar </a>
{% endblock%}
        {% block trabajo %}
        <div class="table-responsive">
            <table class="table table-hover table-bordered" id="datatable">
                <thead class="centrado-negrita">
                <tr>
                    <td>Codigo Admision</td>
                    <td>Fecha Solicitud</td>
                    <td>Programa Academico</td>
                    <td>Acciones</td>
                </tr>
                </thead>
                <tbody>
                {% if admisiones %}
                    {% for adm in admisiones %}
                     <tr>
                         <td style="text-align: center; width:15%;"><u>{{ adm.codigoAdmision }}</u></td>
                        <td style="text-align: center;">{{ adm.fecha }}</td>
                        <td>{{ adm.Programa.nombre_programa }}</td>
                        <td style="text-align: center; width:30%;">

                        <a CLASS="btn btn-primary" title="Modificar" href="{% url 'admision:EditarAdmision' adm.id  %}"><i class="fas fa-edit"></i></a>
                        <a class="btn btn btn-success"  title="Descargar Ficha de Admision" href="{% url 'admision:ReporteFichaAdmision' adm.id %}"><i class="nc-icon nc-cloud-download-93"></i></a>
                        <a class="btn btn-danger" title="Eliminar" href="#" onclick=" abrirmodaleliminar('{% url 'admision:EliminarAdmision' adm.id  %}');"><i class="fas fa-trash-alt"></i></a>
                        </td>
                     </tr>
                    {% endfor %}
                {% else %}
                    <h1>No hay registos para mostrar</h1>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% endblock %}