 <div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
      <div class="modal-header">
        {% block titlemodal %} <h5 class="modal-title" id="exampleModalLabel"> Eliminar Estudiante</h5> {% endblock %}
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
          {% block modalcuerpo%}
        <form action="{% url 'admision:EliminarEstudiante' persona.ci %}" method="POST">
           <div class="modal-body">
             {% csrf_token %}
               <h3>¿Desea eliminar al estudiante: <b>{{ persona.nombre }} {{ persona.apellido }}?</b></h3>
                <button id="#eliminarP" class="btn btn-danger" type="submit">Eliminar</button>
                <a class="btn btn-default" href="{% url 'admision:ListarEstudiante' 1 %}">Cancelar</a>
           </div>
          </form>
          {% endblock %}
    </div>
</div>