{% extends "usuarios/base_panel.html" %}
{% block title %} Pagos-Matriculas{% endblock %}

{%block cantidad%}
    <p class="card-category">Matriculas</p>
    <i class="fas fa-plus-square"></i>
    </a>
{% endblock %}
{% block opcion2 %}
    <p class="card-category">Total de Pagos</p>
    <p class="card-title"><p>
{% endblock %}

{% block opcion3 %}
    <p class="card-category">Valor de Pagos</p>
    <p class="card-title"><p>
{% endblock %}




{% block path%} &nbsp; &nbsp; &nbsp; Módulo Pagos  / Listado de Pagos Matricula  {% endblock %}

{% block il8 %} class="active" {% endblock %} <!-- clase para saber en que menuestas -->
    {%block titulofuncional %} <a><b> {{Titulo}} </b></a>

     <div class="col-md-6 pr-1">
        <div class="form-group">
           <select name="tipoReporte" id="id_tipoReporte" class="form-control" style="width:40%; display: inline-block;">
               <option value="R1">1. Reporte estudiantes que <strong>SI</strong> han pagado</option>
               <option value="R2">2. Reporte estudiantes que <strong>NO</strong> han pagado</option>
           </select>
           <a class="btn btn-info btn-sm" id="id_link" href="{% url 'pago:ReporteGeneralPago' 'R1'  %}"><i class="nc-icon nc-cloud-download-93"> </i> Reporte </a>

       </div>
     </div>
    {% endblock%}
{% block trabajo %}
<div class="table-responsive">
<table class="table table-hover table-bordered" id="datatable">
    <thead  class="centrado-negrita">
    <tr>
        <td>N. Pago</td>
        <td>Codigo Pago</td>
        <td>Fecha Pago</td>
        <td>Programa Estudio</td>
        <td>Estudiante</td>
        <td>Valor a Pagar</td>
        <td>Estado</td>
        <td>Acciones</td>
    </tr>
    </thead>
    <tbody>
        {% if matriculas %}
            {% for pag in matriculas %}
                <tr>
                    <td style="text-align:center;">{{forloop.counter}}</td>
                    <td style="text-align:center;">{{pag.cod_pago}}</td>
                    <td>{{pag.fecha_generacion}}</td>
                    <td>{{pag.cod_matricula.admision_id.Programa.nombre_programa}}</td>
                    <td>{{pag.cod_matricula.admision_id.ci.nombre}} {{pag.cod_matricula.admision_id.ci.apellido}} </td>
                    <td style="text-align:center;">{{pag.valor_pagar}}</td>
                    {% if pag.estado %}
                        <td style="text-align:center;"> <a class="btn btn-success btn-circle" > <i class="fa fa-check"></i> </a> </td>
                    {%else%}
                        <td style="text-align:center;"> <a class="btn btn-danger btn-circle" > <i class="fa fa-times"></i></a>  </td>
                    {%endif%}
                    <td style="text-align:center;">
                        <a CLASS="btn btn-primary"  title="Modificar" href=""><i class="fas fa-edit"></i> </a>
                        <a class="btn btn-warning"  title="pagos" onclick="abrirmodaleliminar('{% url 'pago:PagoDetalle' pag.id  %}'); " ><i class="fas fa-plus-square"></i> </a>
                        <a class="btn btn-info" title="Ver Reporte" href=""><i class="icon-big nc-icon nc-single-copy-04"></i></a>
                        <a class="btn btn-success" title="Descargar"href="{% url 'pago:ReportePagoMatricula' pag.id %}" ><i class="nc-icon nc-cloud-download-93"></i> </a>
                        <a class="btn btn-danger" title="Eliminar" ><i class="fas fa-trash-alt"></i> </a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <h1>No hay registos para mostrar</h1>
        {% endif %}
    </tbody>
</table>
</div>

{% endblock %}