{% extends "usuarios/base_panel.html" %}
{% load static %}

{% block extrastyle %}
{% endblock %}
{% block title %}FUCIDI, educación{% endblock %} <!-- Titulo de la pagina -->



{% block content %}


{{ user_profile_form.as_p }}

<div class="row">
          <div class="col-md-4">
            <div class="card card-user">
              <div class="image">

              </div>
              <div class="card-body">
                <div class="author">
                  <a href="#">
                    <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
                    <h5 id="user_name1" class="title">{{ user.first_name }} {{ user.last_name }}</h5>
                  </a>
                  <p class="description">
                    @{{user}}
                  </p>
                </div>
                <p class="description text-center">
                  " Hola, Bienvenido de  <br>
                   nuevo, Chekea tus permisos en la aplicación.... " <br>

                </p>
              </div>
              <div class="card-footer">
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Módulos Permitidos</h4>
                <hr>
              </div>
              <div class="card-body">
                <ul class="list-unstyled team-members">

                  <li>
                    <div class="row">
                      <div class="col-md-2 col-2">
                        <div class="avatar">
                            <i class="fas fa-layer-group"></i>
                        </div>
                      </div>
                      <div class="col-md-7 col-7">
                        Módulo Gestion de Datos
                        <br>
                      </div>
                      <div class="col-md-3 col-3 text-right">
                        <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></btn>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="row">
                      <div class="col-md-2 col-2">
                        <div class="avatar">
                            <i class="fas fa-layer-group"></i>
                        </div>
                      </div>
                      <div class="col-ms-7 col-7">
                        Módulo Gestion Academica
                        <br>
                      </div>
                      <div class="col-md-3  text-right">
                        <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></btn>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row">
                      <div class="col-md-2 col-2">
                        <div class="avatar">
                          <i class="fas fa-layer-group"></i>
                        </div>
                      </div>
                      <div class="col-ms-7 col-7">
                        Módulo Gestión Pagos
                        <br>
                        <span class="text-danger"><small></small></span>
                      </div>
                      <div class="col-md-3 col-3 text-right">
                        <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></btn>
                      </div>
                    </div>
                  </li>

                  <li>
                    <div class="row">
                      <div class="col-md-2 col-2">
                        <div class="avatar">
                            <i class="fas fa-layer-group"></i>
                        </div>
                      </div>
                      <div class="col-md-7 col-7">
                        Módulo Gestion de Matriculas
                        <br>
                      </div>
                      <div class="col-md-3 col-3 text-right">
                        <btn class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-info-circle" aria-hidden="true"></i></btn>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Información de Perfil <input  type="checkbox" name="hbeditar" id="id_hbeditar"></h5>

                <hr>
              </div>
              <div class="card-body">
                <form  data-post-url="{% url 'prof:edit' %}" id="formUpdatePerfil" method="POST">
                   {% csrf_token %}
                  <div class="row">
                    <div class="col-md-5 pr-1">
                      <div class="form-group">
                        <label>Compañia</label>
                        <input type="text" class="form-control" disabled="" placeholder="Compañia" value="FUCIDI, eduacion">
                      </div>
                    </div>
                    <div class="col-md-3 px-1">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control"  name="username" placeholder="Username" value="{{user}}" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email: </label>
                        <input type="email" id="exampleInputEmail1" name="email1" class="form-control" placeholder="Email" value="{{user.email}}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Nombres: </label>
                        <input type="text" class="form-control" id="first_name" placeholder="Company" name="first_name" value="{{user.first_name}}" readonly>
                      </div>
                    </div>
                    <div class="col-md-6 pl-1">
                      <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" class="form-control"  id="last_name" placeholder="Last Name" name="last_name" value="{{user.last_name}}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Ultimo inicio sesion: </label>
                        <input type="text" class="form-control" placeholder="Home Address" value="{{user.last_login}}" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="submit" id="btnupperfi" class="btn btn-primary btn-round" disabled>Actualizar Información</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

<!--<button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Arriba a la izquierda</font></font></button> -->



{% endblock %}

